.recover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--cream);
}

.recover-card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.recover-title {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 0.5rem;
}

.recover-subtitle {
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.recover-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--dark-gray);
}

.recover-input-wrapper {
  position: relative;
  margin-bottom: 1.5rem;
}

.recover-input {
  width: 85%;
  padding: 0.75rem 2.5rem 0.75rem 0.75rem;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--black);
}

.recover-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--medium-blue);
}

.recover-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recover-button:hover {
  background-color: var(--medium-blue);
}